<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298227386218-kg6fg8mm7uc3erqjjuhtp1jq8tf7i5uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298227386218-kg6fg8mm7uc3erqjjuhtp1jq8tf7i5uv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298227386218-aqrct8f3lv7mlmctv2elhcp9it81e4k3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiqAwfPvb5_nUU3t10GlOZDMyvxxPRRrc</string>
	<key>GCM_SENDER_ID</key>
	<string>298227386218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servinf.id.cuponix</string>
	<key>PROJECT_ID</key>
	<string>test-id-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>test-id-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298227386218:ios:c9a7f26fc548338c3a8713</string>
	<key>DATABASE_URL</key>
	<string>https://test-id-qa.firebaseio.com</string>
</dict>
</plist>